@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at center, #ffffff 0%, #ebebeb 100%);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Gentona";
  src: url("/fonts/Gentona_W00_Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes shrinkExpand {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

.animate-circle {
  animation: shrinkExpand 1.5s infinite;
}

.animation-delay-1 {
  animation-delay: 0.3s;
}

.animation-delay-2 {
  animation-delay: 0.8s;
}

.about-container {
  box-shadow: 0px 0px 30px #4e4e4ec9;
}

::-webkit-scrollbar{
  width: 10px;
  background: #292626;
}

::-webkit-scrollbar-thumb{
  background: #727272;
  border-radius: 10px;
}

/* .icons{
  animation: hoveranim 5s infinite;
}

@keyframes hoveranim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
} */